* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

#timer {
    background-color: black;
    border-radius: 5px;
    color:antiquewhite ;
    font-size: 2rem;
    padding: 10px;
}

#timeFinished {
    display: none;
    font-size: 2rem;
    color: red;
}

.letter {
    font-size: 100px;
}

#correctWordsCounter {
    color: forestgreen;
}

.restart {
    width: 200px;
    height: 50px;
    background-color: gold;
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    text-align: center; 
    padding-top: 15px;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    display: none;
    
}